{% extends "base.html" %}
{% block title %} sign_up {% endblock %}
{% block content %} 
    <div class="form">
        <form method="POST">
            <h2 id='info' >Login</h2>
            <br/>
            <input
                style="width: 50%;"
                name="id"
                type="text"
                id="id"
                placeholder="Id"
            />
            <br/>
            <br/>
            <input
                style="width: 50%;"
                type="password"
                name="password"
                id="password"
                placeholder="Password"
            />
            <p>new user?<a href="/new_user"> sign up</a></p>
            <button 
                style="color:transparent;background-color: transparent;position:fixed;border-color: transparent;bottom: 0px;" 
                type="submit" 
                id='submit'
            ></button>
        </form>
    </div>
{% endblock %}
{% block floating_action_button %}
    <button type="submit" class="floating_action_button" onclick="trigger()">
        <span class="icon icon-checkmark"></span>
    </button>
    <script type="text/javascript">
        var submit = document.getElementById('submit');
        function trigger(){
            submit.click();
        }
    </script>
{% endblock %}